Source: q3270
Section: net
Priority: optional
Maintainer: Andy Styles <linuxajs@gmail.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 cmake,
 qtbase5-dev,
 qttools5-dev-tools,
 libqt5svg5-dev,
Standards-Version: 4.6.2
Homepage: https://github.com/HobbitHacker/Q3270

Package: q3270
Architecture: amd64
Multi-Arch: foreign
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: Qt-based 3270 Terminal Emulator
 Q3270 is a TN3270 terminal emulator for accessing IBM mainframe systems
 running MVS, z/OS, VM/CMS and related operating systems. It supports
 colour themes, keyboard mapping, session management, and SSL/TLS.
