#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@ --buildsystem=cmake

override_dh_auto_configure:
	dh_auto_configure --builddirectory=debian/obj-$(DEB_BUILD_ARCH) -- \
        -DCMAKE_BUILD_TYPE=Release \
        -DCMAKE_VERBOSE_MAKEFILE=ON \
	-DDEBIAN_INSTALL=ON

override_dh_auto_build:
	dh_auto_build --builddirectory=debian/obj-$(DEB_BUILD_ARCH)

override_dh_auto_install:
	dh_auto_install --builddirectory=debian/obj-$(DEB_BUILD_ARCH)

override_dh_auto_test:
	# no tests to run


